<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lmqstudy.order.mapper.AdoptOrderMapper">
    <!-- AdoptOrder数据 返回主键 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_order_adopt(digest, state, price, orderSn, paySn, lastPayTime,
                                  lastConfirmTime, pet_id, user_id, shop_id, address_id) VALUES
        (#{digest},#{state},#{price},#{orderSn},
         #{paySn},#{lastPayTime},#{lastConfirmTime},#{pet.id},
         #{user.id},#{shop_id},#{address_id})
    </insert>
</mapper>