<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lmqstudy.org.mapper.ShopMapper">

<!--    添加数据-->
<!--    void save(Shop d);-->
    <insert id="save" >
        INSERT INTO t_shop(name, tel, registerTime, state, address, logo, admin_id)
        VALUES (#{name},#{tel},#{registerTime},#{state},#{address},#{logo},#{admin_id})
    </insert>

<!--     删除数据-->
<!--    void remove(Long id);-->
    <delete id="remove" parameterType="long">
        DELETE FROM t_shop WHERE id = #{id}
    </delete>

<!--    修改数据-->
<!--    void update(Shop d);-->
    <update id="update">
        UPDATE t_shop SET name=#{name},tel=#{tel},registerTime=#{registerTime},state=#{state},address=#{address},logo=#{logo},admin_id=#{admin_id} WHERE id = #{id}
    </update>

<!--    通过id查找数据-->
<!--    Shop loadById(Long id );-->
    <select id="loadById" resultType="Shop">
        SELECT * FROM t_shop WHERE id=#{id}
    </select>

<!--    查询所有数据-->
<!--    List<Shop> loadAll();-->
    <select id="loadAll" resultType="Shop">
        SELECT * from t_shop
    </select>

<!--    查询总条数-->
<!--    Long queryCount(ShopQuery query);-->
    <select id="queryCount" resultType="long">
        SELECT count(*) from t_shop s
        <include refid="condition"/>
    </select>

<!--    查询当前的页数-->
<!--    List<Shop> queryData(ShopQuery query);-->
    <select id="queryData" resultType="Shop">
        SELECT s.* FROM t_shop s
        <include refid="condition"/>
        LIMIT #{start},#{pageSize}
    </select>


    <sql id="condition">
        <where>
            <if test="keyWord != null and keyWord != ''">
                and (s.name like concat("%",#{keyWord},"%") or s.address like concat("%",#{keyWord},"%"))
            </if>
        </where>
    </sql>

<!--void patchDelete(@Param("ids") List<Long> ids);-->
    <delete id="patchDelete" >
        delete from t_Shop where id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>