<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lmqstudy.org.mapper.SystemDictionaryDetailMapper">
    <select id="getCoatColor" resultType="SystemDictionaryDetail">
        select sdd.* from t_systemdictionarydetail sdd
        left join t_systemdictionarytype ts on ts.id = sdd.types_id
        where ts.sn = #{sn}
    </select>
</mapper>