<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lmqstudy.product.mapper.ShopcartMapper">
    <select id="loadByProductIdAndUserId" resultType="top.lmqstudy.product.domain.Shopcart">
        select * from t_shopcart where product_id=#{productId} and user_id = #{id}
    </select>


    <insert id="save">
        insert into t_shopcart(product_id, user_id, buycount, price, amount) VALUES (#{product_id},#{user_id},#{buycount},#{price},#{amount})
    </insert>

    <update id="update">
        update t_shopcart set buycount=#{buycount},price=#{price},amount=#{amount} where id = #{id}
    </update>

    <select id="loadByUserId" resultMap="ShopcartMap">
        SELECT sc.*,p.name product_name, p.resources FROM t_shopcart sc
        LEFT JOIN t_product p ON sc.product_id=p.id
        WHERE sc.user_id=#{user_id}
    </select>

    <resultMap id="ShopcartMap" type="Shopcart">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="product_id" property="product_id"/>
        <result column="price" property="price"/>
        <result column="buycount" property="buycount"/>
        <result column="amount" property="amount"/>
        <association property="product" javaType="Product">
            <id column="product_id" property="id"/>
            <result column="product_name" property="name"/>
            <result column="resources" property="resources"/>
        </association>
    </resultMap>


    <select id="getBuycountByUserId" resultType="java.lang.Integer">
        select buycount from t_shopcart where user_id = #{id}
    </select>

</mapper>