<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lmqstudy.user.mapper.UserMapper">
    <select id="findByPhone" resultType="top.lmqstudy.user.domain.User" parameterType="String">
        select * from t_user where phone = #{phone}
    </select>
    <select id="findByAccount" resultType="User">
        select * from t_user where username=#{username} or phone=#{username} or email=#{username}
    </select>

    <select id="findById" resultType="top.lmqstudy.user.domain.User">
        select * from t_user where id=#{user_id}
    </select>
    <!--通过前台用户id查找地址-->
    <select id="loadUserAddressByUserId" resultType="UserAddress">
        select * from t_user_address where user_id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_user(username, email, phone, salt, password, state, age, createtime, headImg, logininfo_id) VALUES
        (#{username},#{email},#{phone},#{salt},#{password},#{state},#{age},#{createtime},#{headImg},#{logininfo_id})
    </insert>

    <update id="update">
        update t_user set username=#{username},email=#{email},phone=#{phone},salt=#{salt},password=#{password},state=#{state},age=#{age},headImg=#{headImg},logininfo_id=#{logininfo_id} where id = #{id}
    </update>
</mapper>